<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Welcome to CodexWorld</title>
    </head>
    <body>
        <h1>Thanks you for joining with us!</h1>
	        <table cellspacing="0" style="border: 2px dashed #FB4314; width: 300px; height: 200px;">
	            <?php foreach ($productlog as $a): ?>
			      <tr>
			        <td><?php echo $a['ProductLogs']['id'] ?></td>
			        <td><?php echo $a['ProductLogs']['idpel'] ?></td>
			        <td><?php echo $a['ProductLogs']['status'] ?></td>
			        <td><?php echo $a['ProductLogs']['product_id'] ?></td>
			      </tr>
			    <?php endforeach ?>
	        </table>
    </body>
</html>