<p>A new user has been created. The user's name is <b><?php echo $user_name; ?></b>.</p>
<p>You can view their details here: <a href="http://myxyzapp.com/users/view/<?php echo $user_id; ?>">http://myxyzapp.com/users/view/<?php echo $user_id; ?></a></p>