
<div class="products index">
	<div class="x_title" style="border: none">
		<h2><?php echo __('Check Status'); ?></h2>
	</div>
	<div class="x_content">
		<!-- <?php echo $this->Form->create('Product', array('url' => '/ProductLogs/hit', 'class' => 'form-horizontal form-label-left')) ?>
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Product</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
						<select class="form-control" id="categories" name="categories">
							<option value="">-- Choose Product--</option>
							<?php foreach($categories as $category): ?>
								<option value="<?= $category['ProductCategory']['id']; ?>"><?= $category['ProductCategory']['name']; ?></option>
							<?php endforeach; ?>
						</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Sub Product</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
						<select class="form-control" id="product" name="product">
							<option value="">-- Choose Sub Product--</option>
							<?php foreach($products as $product): ?>
								<option value="<?= $product['Product']['id']; ?>"><?= $product['Product']['name']; ?></option>
							<?php endforeach; ?>
						</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">IdPel</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<input type="text" class="form-control" name="idpel">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3 col-sm-3 col-xs-12">Periode</label>
				<div class="col-md-9 col-sm-9 col-xs-12">
					<input type="text" class="form-control" disabled id="periode" name="periode">
				</div>
			</div>

			<div class="ln_solid"></div>
			<div class="form-group">
				<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
					<button type="button" class="btn btn-secondary">Cancel</button>
					<button type="submit" class="btn btn-success">Submit</button>
				</div>
			</div>
		</form> -->
	</div>
</div>
